[defaults]
# Povolení specifických podmínek pro starší verze kolekcí
allow_broken_conditionals = True
# Cesta k souboru se seznamem hostů
inventory = inventory.ini
# Automatické načtení hesla pro šifrovaný Vault
vault_password_file = vault_pass.txt