services:
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    ports:
      - '3000:3000'
    environment:
      - GF_INSTALL_PLUGINS=alexanderzobnin-zabbix-app
      - GF_SECURITY_ADMIN_PASSWORD={{ grafana_admin_password }}
      - GF_SECURITY_DISABLE_INITIAL_ADMIN_PASSWORD_CHALLENGE=true